{{ title }}

{% for author in authors -%}
    {% if author.year_from == author.year_to -%}
        Copyright (c) {{ author.year_to }} {{ author.name }}
    {%- else -%}
        Copyright (c) {{ author.year_from }} - {{ author.year_to }} {{ author.name }}
    {%- endif %}
{% endfor -%}
All rights reserved.

{%- if license %}

{{ license }}
{%- elif default_license %}

{% if default_license.spdx -%}
SPDX-License-Identifier: {{ default_license.name }}

{% endif -%}
{%- if default_license.builtin -%}
{% include default_license.header | trim %}
{%- else -%}
{{ default_license.header | trim | wordwrap(80) }}
{%- endif -%}
{%- endif -%}
