{{ filename }}

{% for author in authors -%}
    {% if author.year_from == author.year_to -%}
        Copyright (c) {{ author.year_to }} {{ author.name }}
    {%- else -%}
        Copyright (c) {{ author.year_from }} - {{ author.year_to }} {{ author.name }}
    {%- endif %}
{% endfor -%}
All rights reserved.

@LICENSE_HEADER_START@
{% if license -%}
    {{ license }}
{% else -%}
{% if default_license.spdx -%}
SPDX-License-Identifier: {{ default_license.name }}

{% endif -%}
    {% include default_license.header %}
{% endif -%}
@LICENSE_HEADER_END@
